.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.app-bar {
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 0.5rem;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.1);
}

.chat-reference-body {
    top: 60px;
    right: 5px;
    width: 300px;
    padding: 5px;
    z-index: 1002;
    position: fixed;
    background-color: white;
    border: 1px solid #1976d2;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-content {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}

.chat-card {
    width: 100%;
    padding: 0 10px;
    min-height: 100vh;
}

.chat-messages {
    display: flex;
    padding: 30px 10px 70px 10px;
    flex-direction: column;
}

.bottom-input {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.1);
}

.input-container {
    padding-top: 2px;
    padding-bottom: 3px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.9);
}

.chat-content::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.chat-content:hover::-webkit-scrollbar {
    opacity: 1;
}

.chat-content {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #888 rgba(0, 0, 0, 0.1);
}



/* Wrap Markdown content properly */
.react-markdown-wrapper {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    color: #333;
    word-wrap: break-word;
}

/* Bold and Italics */
.react-markdown-wrapper strong {
    font-weight: 600;
}

.react-markdown-wrapper em {
    font-style: italic;
}

/* Lists */
.react-markdown-wrapper ul {
    padding-left: 20px;
    list-style-type: disc;
}

.react-markdown-wrapper ol {
    padding-left: 20px;
    list-style-type: decimal;
}

/* Links */
.react-markdown-wrapper a {
    color: #1976d2;
    text-decoration: none;
    font-weight: 500;
}

.react-markdown-wrapper a:hover {
    text-decoration: underline;
}

/* Code Blocks */
.react-markdown-wrapper pre {
    background-color: #282c34;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
}

.react-markdown-wrapper code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    background: #eaeaea;
    padding: 2px 4px;
    border-radius: 4px;
}

.react-markdown-wrapper pre code {
    background: none;
    padding: 0;
}