
# Server Configuration
BASE_URL=
ALLOW_ORIGINS=

# MongoDB Configuration
MONGO_URL=

# JWT Configuration
JWT_SECRET=

# Mistral AI Configuration
MISTRAL_API_KEY=

# Hugging Face Configuration
HUGGINGFACE_API_KEY=

# OpenWeatherMap Configuration
OPENWEATHERMAP_API_KEY=

# LangSmith Configuration
LANGSMITH_API_KEY=